@import "../node_modules/normalize.css/normalize.css"
@import "core/_variable.styl"

html,body
  height 100%

html
  font-size 16px

body
  font-family $body-font

.container
  width 100vw
  height 100vh
  overflow hidden
  position absolute
