@import "../node_modules/normalize.css/normalize.css"
@import "core/_variable.styl"
@import "core/_global.styl"

.container
  width 100vw
  height 100%
  overflow hidden

  body.is-swiper &
    box-sizing border-box

  body.is-nav &
    position absolute

@import "component/_player.styl"