@import "../node_modules/normalize.css/normalize.css"
@import "core/_variable.styl"

html,body
  height 100%
  box-sizing border-box

*,
*::before
*::after
  box-sizing inherit

html
  font-size 16px

body
  font-family $body-font
  overflow hidden

.container
  width 100vw
  height 100vh
  overflow hidden
  position absolute